@import "../../src/css/scss/variable";

.inf {
  .info__wraper {
    ul {
      padding: 0px;
      li {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 18px;
          line-height: 22px;
          color: $black;
          font-weight: 600;
          span {
            font-size: 18px;
          }
        }
        .img {
          margin-right: 10px;
          width: 50px;
          text-align: center;
          img {
            margin: 0px;
          }
        }
        span {
          font-size: 14px;
          line-height: 22px;
          color: $black;
          font-weight: 600;
          width: calc(100% - 60px);
          &:after {
            display: none !important;
          }
        }
      }
    }
  }
}

.inf--Style1 {
  .info__wraper {
    background-color: #f6fafd;
    margin-bottom: 30px;
    padding: 15px 25px 25px;
  }
}

.inf--Style2 {
  .info__wraper {
    margin: 30px 0;
    li {
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      font-size: 27px !important;
      span {
        font-size: 27px !important;
        font-weight: 700;
      }
    }
  }
}
