@import "../../src/css/scss/variable";
.b-lekarze {
  // margin-bottom: 50px;
  .lekarz {
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    align-items: center;
    .avatar {
      margin-right: 10px;
    }
    .content {
      p {
        font-size: 14px;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: $black;
        &:hover {
          color: $main;
        }
      }
      h3 {
        font-size: 18px;
        margin: 0;
      }
      span {
        display: block;
        color: $main;
        margin-bottom: 10px;
      }
    }
  }
}

.lekarze-dropdown {
  padding: 0;
  list-style: none;
  .lekarz {
    border: 1px solid #edf7fc;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    align-items: center;
    .avatar {
      margin-right: 10px;
    }
    .content {
      h3 {
        color: $black;
        font-size: 18px;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: $black;
        &:hover {
          color: $main;
        }
      }
      span {
        display: block;
        color: $main;
        margin-bottom: 10px;
      }
    }
    p {
      font-size: 14px;
      margin: 0;
    }
    .btn-wraper {
      display: block;
      text-align: right;
      font-size: 12px;
      a {
        color: $main;
      }
    }
  }
}
