.single-uslugi {
}
.single-uslugi__header {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  background-color: #edf7fc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 247, 252, 0.88)), to(rgba(237, 247, 252, 0.88))),
    url("https://uploads-ssl.webflow.com/63c15cb2eb6e2bca8b28a669/63c15cb2eb6e2bed8928a6cb_hero-image.png");
  background-image: linear-gradient(180deg, rgba(237, 247, 252, 0.88), rgba(237, 247, 252, 0.88)),
    url("https://uploads-ssl.webflow.com/63c15cb2eb6e2bca8b28a669/63c15cb2eb6e2bed8928a6cb_hero-image.png");
  background-position: 0px 0px, 67% 13%;
  background-size: auto, cover;
  opacity: 1;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  padding-top: 80px;
  margin-bottom: 50px;
  min-height: 300px;
  @media #{$sm} {
    margin-bottom: 30px;
  }
  .row {
    display: flex;
    @media #{$sm} {
      flex-wrap: wrap;
    }
    .col {
      &:nth-child(1) {
        width: 35%;
        margin-right: 5%;
        @media #{$sm} {
          width: 100%;
          margin-right: 0px;
        }
      }
      &:nth-child(2) {
        width: 65%;
        @media #{$sm} {
          width: 100%;
        }
      }
    }
  }
  h1 {
    margin-bottom: 80px;
  }
}

.single-uslugi__wraper {
  display: flex;
  @media #{$sm} {
    flex-wrap: wrap;
  }
}
.single-uslugi__sidebar {
  width: 35%;
  margin-right: 5%;
  margin-top: -280px;
  position: relative;
  z-index: 2;
  order: 1;
  @media #{$sm} {
    width: 100%;
    margin-top: 50px;
    margin-right: 0px;
  }
  .single-uslugi__sidebar__wraper {
    background-color: #fff;
    border-radius: 3px;
    height: 100%;
    padding: 15px 25px 25px;
    @media #{$sm} {
      padding: 0px;
    }
    .btn {
      display: block;
    }
    h4 {
      margin-bottom: 30px;
    }
    ul {
      list-style: none;
      padding: 0px;
      li {
        margin: 0px;
        a {
          display: flex;
          align-items: center;

          text-decoration: none;
          color: #03254c;
          font-size: 16px;
          font-weight: 600;

          padding: 5px;
          img {
            margin-right: 10px;
          }
          span {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0px;
              width: 0%;
              height: 1px;
              background-color: $main;
              transition: all 0.4s linear;
            }
          }
          &:hover {
            span {
              &:after {
                width: 100% !important;
              }
            }
          }
        }
      }
      .active {
        background-color: #edf7fc;
        span {
          color: #1167b1;
        }
      }
    }
  }
}
.single-uslugi__container {
  width: 65%;
  order: 2;
  @media #{$sm} {
    width: 100%;
    order: 1;
  }
  .single-uslugi__header {
    margin-top: 450px;
    margin-bottom: 100px;
  }
}
