// Query
$xx: "only screen and (max-width: 350px)";
$x: "only screen and (max-width: 400px)";
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1300px)";
$xlg: "only screen and (max-width: 1400px)";
$xxlg: "only screen and (max-width: 1500px)";

$main: #1167b1;
$main2: #1167b1;
$main3: #ffe681;

$black: #03254c;
$light-black: #545454;
$gray: #eeeef0;
$light: #eeeef0;
