@import "../../src/css/scss/variable";

.zespol {
  .zespol__wraper {
    .osoba {
      margin-bottom: 10px;
      p {
        margin-top: 10px;
        margin-bottom: 10px;
        color: $black;
        font-weight: 600;
      }
      span {
        font-size: 14px;
        line-height: 20px;
        color: #747474;
      }
    }
  }
}
